
@{
    ViewBag.Title = "Doctor";
}

<head>
    <style>
        .registerDiv {
            border: 2px solid #7CD1B7;
            height: 5rem;
            width: 40rem !important;
        }
        .gap{
            gap:75px;
        }
        .borderrr {
            border: 2px solid #4B82C4;
            border-radius:20px;
        }
    </style>
</head>





<section class="doctor_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                @*<div class="section_tittle text-center">
                    <h2> Experienced Doctors</h2>
                    <p>Face replenish sea good winged bearing years air divide wasHave night male also</p>
                </div>*@
            </div>
        </div>
        <div class="row gap">
            <div class="col-sm-6 col-lg-3 borderrr">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/doctor/picone.png" alt="doctor">
                        @*<div class="social_icon">
                                <ul>
                                    <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                    <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                    <li><a href="#"> <i class="ti-skype"></i> </a></li>
                                </ul>
                            </div>*@
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="#"> <h3>Today's appointments </h3></a>
                           
                            @*<p>Heart specialist</p>*@
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="~/img/doctor/doctor_4.png" alt="doctor">
                            <div class="social_icon">
                                <ul>
                                    <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                    <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                    <li><a href="#"> <i class="ti-skype"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h3>DR Adam Billiard</h3>
                                <p>Medicine specialist</p>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-sm-6 col-lg-3  borderrr">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/doctor/pictwo.png" alt="doctor">
                        @*<div class="social_icon">
                                <ul>
                                    <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                    <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                    <li><a href="#"> <i class="ti-skype"></i> </a></li>
                                </ul>
                            </div>*@
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="#"><h3>New appointments</h3></a>
                            
                            @*<p>CHeart specialist</p>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3  borderrr">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/doctor/picthree.png" alt="doctor">
                        @*<div class="social_icon">
                                <ul>
                                    <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                    <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                    <li><a href="#"> <i class="ti-skype"></i> </a></li>
                                </ul>
                            </div>*@
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="#"><h3>    New patient</h3></a>
                            
                            @*<p>Heart specialist</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




